In [3]:
def test1():
    print("This is my first function.")

In [5]:
test1()

This is my first function.

In [16]:
def test2():
    return "Anu" , 12 , 45 ,[2, 3, 4, 5]

In [17]:
test2()

('Anu', 12, 45, [2, 3, 4, 5])

In [18]:
a,b,c,d = test2()

In [19]:
a

'Anu'

In [20]:
b

12

In [21]:
c

45

In [22]:
d

[2, 3, 4, 5]

In [25]:
def test3():
    a = 8/2
    return a

In [27]:
test3()

4.0

In [28]:
def test4(a,b,c):
    d = a+b/46
    return d

In [30]:
test4(2,3,4)

2.0652173913043477

In [32]:
def test5(a,b):
    return a+b

In [35]:
test5(4,5)

9

In [38]:
test5('Anurag',' Pandey')

'Anurag Pandey'

In [52]:
l = [[2,3,4,5], 4.50, "Anu", "Pan",5,6,7,8,9,0]

In [53]:
l1 = []
for i in l : 
    if type(i) == int or type(i) == float :
        l1.append(i)

In [54]:
l1

[4.5, 5, 6, 7, 8, 9, 0]

In [58]:
def test6(l):
    l1 = []
    for i in l : 
        if type(i) == int or type(i) == float :
             l1.append(i)
    return l1

In [59]:
test6(l)

[4.5, 5, 6, 7, 8, 9, 0]

In [27]:
l = [5,6,7, 4.50, "Anu", "Pan", [2,3,4,5]]

In [28]:
def test7(a) :
    l = []
    for i in a :
        if type(i) == list :
            for j in i :
                l.append(j)
        else : 
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [29]:
test7(l)

[5, 6, 7, 4.5, 2, 3, 4, 5]

In [30]:
l

[5, 6, 7, 4.5, 'Anu', 'Pan', [2, 3, 4, 5]]

In [5]:
def test8(*args):
    return args

In [6]:
test8()

()

In [7]:
type(test8())

tuple

In [8]:
test8(2,4,5,6)

(2, 4, 5, 6)

In [9]:
def test9(*anur) :
    return anur

In [11]:
test9('Pandu', 'Anur', [4.0,5,6,7])

('Pandu', 'Anur', [4.0, 5, 6, 7])

In [12]:
def test10(*args, a):
    return args,a       #for using int/float in the tuples.

In [14]:
test10(5,6,7,8, a=34)

((5, 6, 7, 8), 34)

In [16]:
def test11(a, b, c = 10, d = 20):
    return a, b, c, d

In [17]:
test11()

TypeError: test11() missing 2 required positional arguments: 'a' and 'b'

In [18]:
test11(2,3)

(2, 3, 10, 20)

In [21]:
test11(2, 3, c=200, d=400 ) #Over-write kar sakte h....

(2, 3, 200, 400)

In [26]:
def test12(**kwarg):
    return kwarg       #for using print key in the dic.

In [27]:
test12()

{}

In [28]:
type(test12())

dict

In [29]:
test12(a = [5,6,7], b = 4.50, c = "riya")

{'a': [5, 6, 7], 'b': 4.5, 'c': 'riya'}